@import url("https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
/**********************************************************
 _____ _       _           _ 
|  __ | |     | |         | |
| |  \| | ___ | |__   __ _| |
| | __| |/ _ \| '_ \ / _` | |
| |_\ | | (_) | |_) | (_| | |
 \____|_|\___/|_.__/ \__,_|_|*/
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.container {
  max-width: 1100px;
  margin: auto;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  margin: 0; /*enleve la marge autour de la page */
  background-color: #f2f2f2;
  color: #666;
}

section {
  background-color: white;
}

h1,
h2,
h3 {
  text-align: center;
  font-family: "Amaranth", sans-serif;
  color: #96b011;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

ul {
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  max-width: 100%;
  display: inline-block;
}

.clear {
  clear: both;
}

h3 {
  width: 100%;
  overflow: hidden;
}
h3::before, h3::after {
  content: "";
  display: inline-block;
  width: 50%;
  margin: 0 2rem 0 -51%;
  vertical-align: middle;
  border-bottom: 1px solid;
}
h3::after {
  margin: 0 -51% 0 2rem;
}

/*
  _                    _           
 | |                  | |          
 | |__   ___  __ _  __| | ___ _ __ 
 | '_ \ / _ \/ _` |/ _` |/ _ | '__|
 | | | |  __| (_| | (_| |  __| |   
 |_| |_|\___|\__,_|\__,_|\___|_|   

*/
header {
  background-color: #96b011;
  text-align: center;
  color: #fff;
}

.angleHt {
  width: 95px;
  position: absolute;
  right: 0px;
  display: none;
}
@media screen and (min-width: 768px) {
  .angleHt {
    display: block;
    float: right;
  }
}

.bandeau {
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.1);
}

.blocHeader {
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-position: center;
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .blocHeader {
    padding: 20px 20px;
  }
}
@media screen and (min-width: 768px) {
  .blocHeader .headerHt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 0;
  }
}
.blocHeader nav {
  width: 100%;
}
.blocHeader ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.blocHeader ul li {
  text-transform: uppercase;
  margin-bottom: 25px;
}
.blocHeader ul li a {
  padding: 7px;
}
.blocHeader ul li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
@media screen and (min-width: 768px) {
  .blocHeader ul li {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 768px) {
  .blocHeader ul {
    flex-direction: row;
    margin-bottom: 0;
  }
}
.blocHeader .lienPanier {
  display: block;
  position: fixed;
  background-color: #96b011;
  font-size: 3rem;
  top: 50px;
  left: 0px;
  z-index: 10;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: -3px 4px 27px 12px rgba(0, 0, 0, 0.2);
  border-left: none;
  border-radius: 0px 200px 200px 0px;
}
@media screen and (min-width: 768px) {
  .blocHeader .lienPanier {
    display: flex;
    position: static;
    background-color: transparent;
    border: none;
    box-shadow: none;
    padding-bottom: 0;
  }
}
.blocHeader .lienPanier i {
  border: solid white 1px;
  border-radius: 100% 100%;
  padding: 10px;
}
.blocHeader .lienPanier span.txt {
  display: none;
}
@media screen and (min-width: 768px) {
  .blocHeader .lienPanier span.txt {
    display: inline;
  }
}
/*
   __            _            
  / _|          | |           
 | |_ ___   ___ | |_ ___ _ __ 
 |  _/ _ \ / _ \| __/ _ | '__|
 | || (_) | (_) | ||  __| |   
 |_| \___/ \___/ \__\___|_|   

*/
footer {
  background-color: #879e0f;
  margin-top: 30px;
}

.infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.infos a {
  display: block;
  width: 48%;
  padding: 30px 0;
  text-align: center;
  align-items: center;
  opacity: 0.5;
}
.infos a::before {
  font-family: FontAwesome;
  font-size: 30px;
  display: block;
  margin: 10px auto 10px auto;
}
.infos a:first-child::before {
  content: "\f023";
}
.infos a:nth-child(2)::before {
  content: "\f0d1";
}
.infos a:nth-child(3)::before {
  content: "\f3d1";
}
.infos a:nth-child(4)::before {
  content: "\f879";
}
.infos a:nth-child(5)::before {
  content: "\f058";
}
.infos a:hover {
  opacity: 1;
}
@media screen and (min-width: 768px) {
  .infos a {
    width: 18%;
  }
}

.liensLarge {
  background-color: #96b011;
}

.liensFooter {
  margin-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.liensFooter .navFooter {
  padding: 50px;
}
@media screen and (min-width: 768px) {
  .liensFooter .navFooter {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
  }
}
@media screen and (min-width: 768px) {
  .liensFooter {
    width: 100%;
  }
}
.liensFooter div {
  margin-bottom: 40px;
}
.liensFooter strong {
  margin-top: 30px;
  color: white;
  text-transform: uppercase;
}
.liensFooter li {
  padding: 8px 0;
}
.liensFooter a {
  opacity: 0.5;
}
.liensFooter a:hover {
  opacity: 1;
}

.copyrightLarge {
  background-color: #879e0f;
}

.copyright {
  padding: 15px 15px 30px 15px;
  text-align: center;
  color: #fff;
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 0 100vmax rgba(0, 0, 0, 0.1);
}
.copyright p {
  margin-bottom: 5px;
}
.copyright img {
  width: 60px;
}
.copyright a {
  text-decoration: underline;
}

main {
  line-height: 1.8;
}

.page_index aside,
.page_index .sliderSlick {
  display: none;
}
@media screen and (min-width: 768px) {
  .page_index aside,
.page_index .sliderSlick {
    display: block;
    text-align: center;
  }
  .page_index aside strong,
.page_index .sliderSlick strong {
    display: block;
    margin: 20px 0;
    color: #96b011;
    font-size: 4rem;
  }
  .page_index aside small,
.page_index .sliderSlick small {
    display: inline-block;
    margin: 5px 0 30px 0;
  }
  .page_index aside .slick-dots li button:before,
.page_index .sliderSlick .slick-dots li button:before {
    font-size: 15px;
  }
}

.choiseThe {
  margin-top: 20px;
  padding: 20px;
}
.choiseThe .itemsWrapper {
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
@media screen and (min-width: 1025px) {
  .choiseThe .itemsWrapper {
    flex-wrap: nowrap;
  }
}
.choiseThe .itemsWrapper:hover a {
  opacity: 0.5;
}
.choiseThe .itemsWrapper a {
  width: 48%;
}
.choiseThe .itemsWrapper a figure {
  margin: 0;
  padding: 0;
  color: #666;
  text-align: center;
  font-family: "Amaranth", sans-serif;
}
.choiseThe .itemsWrapper a:hover {
  opacity: 1;
}

.selection {
  margin-top: 30px;
  padding: 20px;
  text-align: center;
}
@media screen and (min-width: 1025px) {
  .selection .wrapSelection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
  }
}
.selection article {
  padding: 0 15px;
}
@media screen and (min-width: 1025px) {
  .selection article {
    width: 33%;
  }
}
.selection figcaption {
  font-family: "Amaranth", sans-serif;
  font-weight: bold;
}
.selection .prix {
  font-weight: 700;
}
.selection a {
  display: inline-block;
  background-color: #b09067;
  text-transform: uppercase;
  padding: 15px 15px;
}
.selection a:hover {
  background-color: rgba(176, 144, 103, 0.75);
}/*# sourceMappingURL=style.css.map */